[*.cs]

# CS0660: El tipo define operator == or operator !=, pero no reemplaza a override Object.Equals(object o)
dotnet_diagnostic.CS0660.severity = silent

# CS0661: El tipo define operator == or operator !=, pero no reemplaza a Object.GetHashCode()
dotnet_diagnostic.CS0661.severity = silent

# CS0659: El tipo reemplaza a Object.Equals(object o), pero no reemplaza a Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = silent
